div(layout="vertical", layout-fill)

  md-content

    div(class="techs", layout-align="center")
      md-card(flex-xs, flex-gt-xs="50")
        md-card-content
          h3.md-title Annual Time Block
          p Click below to login using your Google account. We use Google Calendar to store and retrieve your annual calendar so that you aren't locked in one system.
        div(layout, layout-align="center center").md-action-buttons
          md-button(ng-click="main.googleAuthenticate()").md-raised.md-primary Login with Google
